header{
    background-color: #000000;
    color:rgb(214, 121, 168);
    display: block;
    front size: 100xp
    border:2xp  
}
section {
    float: left;
    width: 30%;
    min-width: 400px;
    border: 2px solid #da3280;
    border-radius: 6px;
}

footer {
    padding-bottom: 24px;
    margin:0 1.5% 24px 1.5%;

}

aside {
    float:left
    margin-left: 1.5% 24px 1.5%;
    margin-right: 1.5% 24px 1.5%;
    border-style:solide;
    
}

header {
    background-color: beige;

}

td{
    background-color: #000000;
    color: white;


}